{% extends "base.html" %} {% load staticfiles %}
{% block extrahead %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %}
{% block content %}
<div id="page-index">
<div class="row row-message">

</div>

<div class="form-container">

  <div class="user-profile">
    <div class="row plain-element">
      <div class="col s3 m3 l3 plain-element col-background">

      </div>
      <div class="col s9 m9 l9 text-center col-profile">
        <div class="row plain-element">
          <br>
          <div class="portrait">
            {% if my_profile.image %}
            <img src="{{ my_profile.image.url }}" class="img responsive img-portrait">
            {% else %}
            <img src="{% static 'img/portraits/default.jpg' %}" class="img-responsive img-portrait">
            {% endif %}
          </div>
        </div>
        <div class="row plain-element">
           <h5>{{ user.name }}<span class="flex"> <button class="btn-edit" onclick="window.location='{% url 'user:edit_profile' %}'">Edit</button></span>

        </div>
        <div class="row plain-element">
          <h6> Email: <b>{{ my_profile.owner }}</b></h6>
        </div>
        <div class="row plain-element">
          <h6> Position: <b>{{ my_profile.position }}</b></h6>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /container -->


{% endblock %}
