{% extends "base.html" %} {% load staticfiles %}{% load materializecss %}
{% block extrahead %}
<div id="page-index">
  <div class="dashboard-cards">
    <div class="row row-cards">
      <div class="card card-description">
        <div class="row plain-element left-align row-back">
          <a href="{% url 'db_manager:db-manager' %}">
            <i class="fas fa-chevron-left"></i> Back To DB Manager
          </a>
        </div>
        <br>
        <div class="row plain-element">
          <div class="col s12 m6 l2 plain-element">
            <div class="row plain-element left-align">
              <div class="input-field col s10 col-form">
                <h4><i class="far fa-calendar-alt"></i> Upload Dataset </h4>
              </div>
            </div>
            <form action="{% url 'db_manager:documents-upload' %}" method="POST" enctype="multipart/form-data">
              <div class="row plain-element left-align">
                {% csrf_token %}
                <div class="row plain-element left-align">
                  <div class="file-field input-field csv-field">
                    <div class="btn btn-file">
                      <span>File:</span>
                      <input type="file" name="csv_file" id="csv_file" accept=".csv" required="True"
                             class="form-control">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate csv-input" type="text">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row plain-element left-align">
                <div class="input-field col s10 col-form">
                  <button type="submit" class="btn btn-document">
                    <i class="fas fa-file-csv"></i>&nbsp; Upload CSV File
                  </button>
                </div>
              </div>
            </form>

            <div class="row plain-element">
              <div class="input-field col s10 col-form">
                {% if critical_error %}
                <h6 class="error">{{ critical_error }}</h6>
                {% endif %}
                {% if upload_report %}
                <div class="row plain-element left-align">
                  <br>
                  <h4><i class="fas fa-chart-bar"></i> Dataset Upload Report:</h4>

                  <p class="">New: {{ upload_report.count_new }}</p>
                  <p>Upload Errors:</p>
                  {% for element in upload_report.upload_errors %}
                  <ol><p class="error">{{element}}</p></ol>
                  {% endfor %}
                </div>
                {% endif %}
                {% if dataset_errors %}
                <div class="row plain-element left-align">
                  <h4><i class="fas fa-chart-bar"></i> Dataset Issues:</h4>
                </div>
                {% for error in dataset_errors %}
                <div class="row plain-element left-align">
                  <h6 class="error">{{ error }}</h6>
                </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
