/*----------------------------------------------
    COMMON  STYLES
------------------------------------------------*/


body {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 0;
    background-color: #fafafa;
}

html {
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    color: #3c4146;
}


#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 40px;
}

#page-index a {
    text-decoration: none;
    outline: 0;
}


.text-center {
    text-align: center;
}

.plain-element {
    margin: 0px !important;
    padding: 0px !important;
}

.col .row {
    margin-left: 0;
    margin-right: 0;
}

.hide {
  display: none;
}

a {
    color: #4267b2
}

a:hover {
    text-decoration: none;
}

.overflow_hidden {
    overflow: hidden !important;
}

.transparent {
    background: transparent;
}


.left {
  margin-left: 0 !important;
}

.right {
  margin-right 0 !important;
}

.row-message {
  position: fixed;
  top: 40px;
  width: 100%;
}

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #c3e6cb;
  position: fixed;
  width: 100%;
  top: 40px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: fixed;
    width: 100%;
    top: 40px;
}

.error {
  color: red;
}

.row-no-data {
  text-align: center;
  margin: 50px;
  color: #7b7b7c;
  display: block;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.active {
  background: #e8f0fe !important;

}

.active .section-element {
  color: #0061ba !important;
}

.font-red {
  color: #dc3545 !important;
}

/*----------------------------------------------
    SEARCHBOX
------------------------------------------------*/
.searchbox-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}

.searchbox-wrapper-long {
    position: relative;
    width: 100%;

}


#searchbox {
    box-shadow: 0 1px rgba(188,188,183,0.30);
    border: 1px solid rgba(188,188,183,0.50);
    border-radius: 5px;
    width: 200px;
    margin: auto;
    padding: 4px 8px;
    font-size: 14px;
    background: #fff;
    height: 20px;
}


/*------------------------------------------------------------------------------
    ROW HEADER
------------------------------------------------------------------------------*/

.header {
    max-height: 45px;
    height: 45px;
    width: 100%;
    margin: auto;
    background: transparent;
    text-align: center;
    margin-bottom: 60px;
    padding: 0% 0%;
    font-size: 14px;

}

.top-menu {
    padding: 0px 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 56px;
}

.top-menu b {
  color: #3c4146;
  text-shadow: 1px 1px #f1f1f1;
}

.top-menu p {
    color: #7b7b7c;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 0px;
    font-size: 14px;
}

.top-menu p:hover {
    background-color: #dadce0;
    color: #6e6e6f;
}


.top-menu td {
    width: 16%;
}

.top-menu a {
    font-size: 14px;
    color: #7b7b7c;
}

.top-menu a:hover {
    color: #46719e;
}



/*----------------------------------------------
    SIDEBAR MENU
------------------------------------------------*/

.sidebar {
  width: 14%;
  margin: 0px;
  padding: 0px !important;
  margin-top: 56px;

}

.sidebar b {
  color: #6e6e6f;
  text-shadow: 1px 1px #f1f1f1;
}

.section-header {
  color: #7b7b7c;
  display: block;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0px 0px 16px 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
}

.section-element {
    color: #7b7b7c;
    font-size:14px;
    font-weight: 500;
    padding: 0px 12px;
    letter-spacing: .25px;
    word-break: break-word;
}



.section {
    width: 75%;
    margin-bottom: 0px;
      padding-top: 15px;
      padding-bottom: 15px;
}

.section .row {
  margin-bottom: 12px;

}

.section .fas {
    margin-right: 10px;
}


.menu-card {
    box-shadow: none;
    text-align: left;
    width: 105%;
    float: none;
    margin: 0px;
    margin-left: -20px;
    padding: 2px 0px 2px 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: transparent;
    transition: background-color .3s;
    max-width: 220px;
}


.menu-card:hover,
.menu-card:focus,
.menu-card:active {
    background-color: #dadce0;
    color: #6e6e6f;
}

.back-link {
  cursor: pointer;
}

/*----------------------------------------------
    BUTTONS
------------------------------------------------*/

.btn-function {
    background-color: #f2f2f2;
    color: #777777;
    font-weight: 600;
    border: 1px solid #ddd;
    height: 60px;
    font-size: 16px;
    border-radius: 2px;
    width: 240px;
    margin: 10px 0px;
}

.btn-function i {
    font-size: 20px;
    margin-right: 5px;
}

.btn-function:hover,
.btn-function:active,
.btn-function:focus {
    background-color: #d8d8d8;
    outline: none !important;
}





/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 0%;
    padding-right: 1%;
    text-align: center;
    background-color: transparent;
}

.footer-right p{
    float: right !important;
}

.footer-left p{
    float: left !important;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #868e96;
    padding: 15px 0px;
    text-align: center;
}

.footer a {
    color: #868e96;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #4f84ae;
    text-decoration: none;
}

/*----------------------------------------------
    ERROR 404
------------------------------------------------*/
#errorContainer {
  padding-top: 40px;
  height: 900px;
  background: transparent;
  text-align: center;
}


#mainContainer { margin:0 auto 20px auto; width:940px; padding:0; text-align:left; }
.company { display:inline; float:left; margin:40px 0 0px 280px; }
.robot { display:inline; float:left; width:280px; margin:0; overflow:visible; }
.error-header { display:inline; float:left; width:660px; font-size:20px; margin:50px 0 0 0; }
.mainContent { display:inline; float:left; width:660px; }
.largeFont { font-size:24px; }
.p-error { margin:18px 0; padding:0; line-height:1.4em; font-size:16px;}
.ul-error { margin:-10px 0 0 26px; padding:0; }
.ul-error li { margin:5px 0; padding:0; font-size:16px;}
.ul-error a { color:#3366cc; text-decoration:none; font-size:17px;}


.login-card {
  width: 20%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 15px 0px 0px 0px;
  background-color: white;
  border-color: transparent;
  border: 1px solid #b3b3b3;
  box-shadow: 1px 1px 1px 0px #b3b3b3;
  border-radius: 15px;
  color: #222222;
  font-weight: 600;

}

.login-card img {
  width: 100%;
  margin: auto;
}

.login-card .btn-login-card {
   width: 80%;
   margin: 10%;
   border-radius: 5px;
   background: #205592;

}



/*----------------------------------------------
    ANIMATIONS & EFFECTS
------------------------------------------------*/


/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/


@media(max-width:1700px) {

    .row-menu {
      width: 80%;
    }

    .footer {
      padding-left: 0.5%;
      padding-right: 0.5%;
    }

    .header {
      padding: 50px 0.5% 0px 1%;
    }

    .login-card {
      width: 25%;
    }


}

@media(max-width:1440px) {

    .section {
      width: 95%;
    }

    .section-header {
      font-size: 11px;
      padding: 0px 8px 16px 8px;
    }

    .section-element {
      font-size: 12px;
    }



}



@media(max-width:1361px) {

    .summary {
      padding: 15px 50px;
    }



}

@media(max-width:1200px) {



}


@media(max-width:1025px) {

    .row-menu {
      width: 100%;
    }


    .section-header {
      font-size: 10px;
      padding: 0px 0px 16px 8px;
    }

    .section-element {
      font-size: 11px;
    }

    .top-menu p {
        font-size: 12px;
    }

    .login-card {
      width: 40%;
    }
}

@media(max-width:800px) {


}

@media(max-width:600px) {

  .header {
    padding: 50px 4% 0px 2%;
  }

  .btn-transparent {
    right: 0px;
  }

  .sidebar {
    width: 20%;
  }

  .top-menu p {
    font-size: 10px;
  }

  .login-card {
      width: 80%;
  }

  .section .fas {
    display: none;
  }

}



