/*------------------------------------------------------------------------------
    TOP NAVBAR
------------------------------------------------------------------------------*/

.navbar {
	border-radius: 0px;
}

.navbar-header a {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 40px;
	margin-top: 0px;
	font-weight: 400;
	display: block;
	color: #3c4146;
}

.top-navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 300;
	border: none;
	height: 40px;
	min-height: 40px;
	padding-left: 0.5%;
	padding-right: 1%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}


.top-navbar {
	background-color: #fff;
	border-bottom: 1px solid #C7C9C8;
	box-shadow: none;
}

.navbar-brand .material-icons {
	color: #1a2026;
}


/*------------------------------------------------------------------------------
    LEFT-SIDE HEADER AREA
------------------------------------------------------------------------------*/


.top-navbar .navbar-brand {
	margin: 0px;
	height: 40px;
	float: left;
	text-align: left;
	padding: 0px;
	font-weight: 400;
	color: #3c4146;
	background: transparent;
	text-transform: uppercase;
}

.navbar-header {
	width: 200px;
	margin-left: 0px;
	float: left;
}

.navbar-brand .material-icons,
.navbar-brand .fab {
	float: left;
	font-size: 18px;
	margin-right: 5px;
	margin-top: -3px;
	letter-spacing: 1px;
	height: auto;
	background: #0077b5;
	padding: 3px 3px 3px 3px;
	color: #3c4146;
	font-weight: normal;
}

.navbar-header:hover,
.navbar-header:focus {
	background: transparent;
	color: #00539E;
}


.navbar-header a:hover {
	text-decoration: none !important;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	background-color: transparent;
	outline: 0px;
}

.navbar-default .navbar-brand:hover {
	color: #00539E;
}

.navbar-default .navbar-brand:hover .navbar-default .navbar-brand:focus {
	color: #e5ebef;
}


/*------------------------------------------------------------------------------
    RIGHT SIDE LINKS
------------------------------------------------------------------------------*/


nav ul a {
 font-size: 10px;
 letter-spacing: 0.4px;
 color: #3c4146;
text-transform: uppercase;
}

.nav-link {
	height: 100% !important;
	margin: 12px 12px;
	padding: 0px;
}

.nav i,
.nav i.material-icons {
	height: 14px;
	font-size: 14px;
	margin-right: 6px;
	top: 1px;
  position: relative;
}


.img-logo {
	margin-top: 2px;
	height: 24px;
	margin: 8px;
	margin-left: 0px;
	border-radius: 50%;
}

.top-navbar .navbar-right {
	width: auto;
	height: 40px;
	margin: 0px;
	line-height: 1;
	padding: 0px;
	color: #3c4146;
	float: right !important;
}

.top-navbar .navbar-right>a {
	padding: 0px;
	letter-spacing: 1px;
	font-size: 15px;
}

.top-navbar .navbar-right>a>i {
	margin-right: 5px;
	font-size: 16px;
	height: 40px;
}


.navbar-right>a:hover,
.navbar-right>a:focus {
	text-decoration: none;
	outline: 0px;
}


nav ul a:hover {
	background-color: #fff;
	color: #00539E;
}

nav ul li:hover,
nav ul li:active {
	background: transparent;
	color: #00539E;
}


nav ul a:hover {
	color: #00539E;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav>li>a:active {
	background-color: transparent;
	color: #00539E;
}

.navbar-right>a:hover,
.navbar-right>a:focus {
	background: transparent;
	color: #e5ebef;
}


/*------------------------------------------------------------------------------
    DROPDOWN MENU
------------------------------------------------------------------------------*/


.dropdown-content li > span {
    padding: 12px 0px;
}

.dropdown-content {
	top: 40px !important;
	width: max-content !important;
}

.dropdown-content li {
	margin-bottom: 0px;
	margin-left: 0px !important;
}

.dropdown-content li>a {
	font-size: 12px 6px;
	text-decoration: none;
}

.dropdown-content li>fa {
	font-size: 16px;
}


.dropdown-content li>a {
	color: #3c4146;
	background-color: #fff;
}

.dropdown-content li>fa {
	color: #1a2026;
}

.dropdown-content li:hover {
  background: transparent;
}


/*------------------------------------------------------------------------------
    MOBILE MENU
------------------------------------------------------------------------------*/


.sidenav-trigger {
	height: 40px !important;
}

.sidenav-trigger i {
	font-weight: 600;
}

#trigger {
	font-size: 24px;
}

.sidenav li>a>i {
	margin: 0px !important;
}


.sidenav li:hover {
	background: transparent;
}

.sidenav {
	background: #fff;
}

.sidenav li>a {
	color: #3c4146
}

.sidenav li>a>i {
	color: #3c4146;
}


/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/

@media(max-width:1700px) {
	.top-navbar {
		padding-left: 0.5%;
		padding-right: 0.5%;
	}
	.navbar-header {
		width: 30%;
	}
}

@media(max-width:1400px) {
	.top-navbar {}
}

@media(min-width:1026px) {
	.sidenav-trigger {
		display: none !important;
	}
}

@media(max-width:1025px) {
	.top-navbar {
		padding-left: 0.5%;
		padding-right: 0px;
	}
	.nav>li>a {
		padding-right: 0px;
	}
	.nav-link {
		display: none !important;
	}
	.navbar-header {
		width: 60%;
	}
	nav a.sidenav-trigger i {
		height: 40px;
		line-height: 40px;
	}
	#trigger {
		position: relative;
	}
	#search-form {
		display: none;
	}
}

@media only screen and (max-width: 601px) {
	.top-navbar .navbar-brand {}
	.navbar-header {
		width: 45%;
	}
}

