/*------------------------------------------------------------------------------
    TOP NAVBAR
------------------------------------------------------------------------------*/

.navbar {
	border-radius: 0px;
}



.top-navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 300;
	border: none;
	height: 40px;
	min-height: 40px;
	padding-left: 0%;
	padding-right: 0.5%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	border: none;
	margin: 0;
}

.navbar-brand .material-icons {
	color: #1a2026;
}

.navbar-brand .material-icons, .navbar-brand .fab, .navbar-brand .fas {
    position: relative;
    top: 1.5px;
    font-size: 18px;
    margin-right: 3px;
    color: inherit;
}


/*------------------------------------------------------------------------------
    LEFT-SIDE HEADER AREA
------------------------------------------------------------------------------*/


.top-navbar .navbar-brand {
	margin: 0px;
	height: 40px;
	float: left;
	text-align: left;
	padding: 0px;
	font-weight: 500;
	color: #798b9a;
	background: transparent;
	text-transform: uppercase;
}

.navbar-header {
	width: 12%;
	margin-left: 0px;
	float: left;
	padding-left: 10px;
}

.navbar-header a {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 40px;
	margin-top: 0px;
	font-weight: 400;
	display: block;
	color: #798b9a;
}

nav i {
  height: 20px;
}

.navbar-brand .material-icons,
.navbar-brand .fab {
	float: left;
	font-size: 18px;
	margin-right: 5px;
	margin-top: -3px;
	letter-spacing: 1px;
	height: auto;
	background: #0077b5;
	padding: 3px 3px 3px 3px;
	color: #798b9a;
	font-weight: normal;
}

.navbar-header:hover,
.navbar-header:focus {
	background: transparent;
	color: #00539E;
}


.navbar-header a:hover {
	text-decoration: none !important;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	background-color: transparent;
	outline: 0px;
}


.navbar-default .navbar-brand:hover {
	color: #1da1f2;
}

.navbar-default .navbar-brand:hover .navbar-default .navbar-brand:focus {
	color: #e5ebef;
}


/*------------------------------------------------------------------------------
   MIDDLE SEARCHBOX
------------------------------------------------------------------------------*/

nav form {
    height:40px;
    line-height: 40px;
}

.searchbox-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}


.btn-transparent {
    position: absolute;
    top: 1px;
    right: 0px;
    height:40px;
    color: #6d6d6e;
    background: transparent;
    box-shadow: none;
    border: none;
}

.btn-transparent i {
  font-size: 20px;
}

.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus {
    background: transparent;
    box-shadow: none;
    border: none;
}


#searchbox {
    background-color: #ececec;
    border: 1px solid rgba(188,188,183,0.50);
    border-radius: 5px;
    margin: auto;
    padding: 4px 8px;
    font-size: 14px;
    height: 24px;
    color: #202124;

}

#searchbox::placeholder {
    color: #3c4146 !important;
}

/*------------------------------------------------------------------------------
    RIGHT SIDE LINKS
------------------------------------------------------------------------------*/


.top-navbar .navbar-right {
	width: auto;
	height: 100%;
	line-height: 100%;
	padding: 0px 0px;
	color: #798b9a;
  float: right !important;
}

.nav-link {
  color: #253443;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 14px;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 9px;
}

.nav-button {

  font-size: 14px;
  letter-spacing: 1px;
  color: #253443;
  width: auto;
  height: 44px !important;
  background: none !important;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 0px;
}

.nav-button:hover,
.nav-button:active,
.nav-button:focus {
  text-decoration: none;
  color: #1da1f2;
}

.nav-button-active {
    background-color: #50BB49 !important;
    text-decoration: none;
    color: #fff;
    padding: 0px 12px;
}

/*------------------------------------------------------------------------------
    DROPDOWN MENU
------------------------------------------------------------------------------*/


.dropdown-content li > span {
    padding: 12px 0px;
}

.dropdown-content {
	top: 40px !important;
	width: max-content !important;
}

.dropdown-content li {
	margin-bottom: 0px;
	margin-left: 0px !important;
}

.dropdown-content li>a {
	font-size: 12px 6px;
	text-decoration: none;
}

.dropdown-content li>fa {
	font-size: 16px;
}


.dropdown-content li>a {
	color: #798b9a;
	background-color: #fff;
}

.dropdown-content li>fa {
	color: #1a2026;
}

.dropdown-content li:hover {
  background: transparent;
}

/*------------------------------------------------------------------------------
    HAMBURGER
------------------------------------------------------------------------------*/


.topnav {
  display: none;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;

}


.topnav #myLinks {
  display: none;
}


.topnav a {
  color: #798b9a;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.topnav a span{
  color: #798b9a;
  text-decoration: none;
  font-size: 16px;
  display: block;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.topnav .nav-button {
  font-size: 16px;
  text-align: left;
  width: 100%;
  margin: 0px;
  padding: 14px 16px;
  height: auto;
  color: #798b9a;
}

.topnav .nav-button:hover {
  color: #1da1f2;
}

.topnav .img-logo {
  margin: 0px;
}

.topnav a.icon {
  background: #ffffff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 16px 0px 12px !important;
}

.topnav a:hover {
  color: #1da1f2;
}

.topnav a span:hover {
  color: #1da1f2;
}

.topnav .navbar-brand {
  padding: 12px !important;
}

.topnav .navbar-brand .fas {
  top: 0px;
  font-size: 20px;
}

.topnav .active {
  background-color: #4CAF50;
  color: white;
}


.topnav button {
    font-size: 10px;
    color: #606060;
    background-color: #ececec;
    box-shadow: none;
    border: 1px solid rgba(188,188,183,0.50);
    border-radius: 10px;
    height: 30px;
    line-height: 12px;
    padding: 2px 8px;
    width: 100%;
    margin: auto;
    font-weight: 400;
    letter-spacing: 0.6px;
}


.topnav button:hover,
.topnav button:focus,
.topnav button:active {
  background: #e8f0fe !important;
  color: #6e6e6f;
  box-shadow: none;
}


/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/

@media(max-width:1700px) {
	.top-navbar {

	}
	.navbar-header {
		width: 12%;
	}
}

@media(max-width:1400px) {
	.top-navbar {}
}

@media(max-width:1200px) {
	.top-navbar {
		padding-right: 1%;
	}

  .navbar-header {
		width: 16%;
	}
}

@media(max-width:1025px) {
	.top-navbar {
	}
	.nav>li>a {
		padding-right: 0px;
	}


	nav a.sidenav-trigger i {
		height: 40px;
		line-height: 40px;
	}
	#trigger {
		position: relative;
	}

	nav a.sidenav-trigger i {
  		height: 40px;
  		line-height: 40px;
  	}
  	#trigger {
  		position: relative;
  	}

    .navbar-header {
  		width: 100%;
  	}

    .navbar-right {
  	  display: none;
  	}

    .topnav {
      display: block;
    }

     .topnav .navbar-brand {
        width: 70%;
    }

    .navbar {
      display: none;
    }


  	.btn-transparent {
      position: absolute;
      top: 1px;
      right: -16px;
    }

}

@media(max-width:900px) {

  .navbar-header {
		width: 20%;
	}

	.col-logo {
	  display: none;
	}

}

@media only screen and (max-width: 701px) {

	.navbar-header {
		width: 30%;
	}

	.navbar-right {
	  display: none;
	}



}


@media only screen and (max-width: 600px) {

	.navbar-header {
		width: 10%;
	}

	.navbar-brand strong{
	  display: none;
	}


	.btn-transparent {
    position: absolute;
    top: 1px;
    right: -16px;
  }
}
