{% extends "base.html" %} {% load staticfiles %}{% load materializecss %}
{% block extrahead %}
<div id="page-index">
  <div class="dashboard-cards">
    <div class="row row-cards">
      <div class="card card-description">
        <div class="row plain-element left-align row-back">
          <a href="{% url 'db_manager:db-manager' %}">
            <i class="fas fa-chevron-left"></i> Back To DB Manager
          </a>
        </div>
        <br>
        <div class="row plain-element">
          <div class="col s12 m6 l2 plain-element">
            <div class="row plain-element left-align">
              <div class="input-field col s10 col-form">
                <h4><i class="fas fa-trash-alt"></i> Delete Weekly Data </h4>
              </div>
            </div>
            <form action="{% url 'db_manager:delete-data' %}" method="POST">
              {% csrf_token %}
              <div class="row plain-element left-align">

                <div class="input-field col s9 col-form">
                  <select name="year" id="year" required="required">
                    <option value="" disabled selected>Select Year</option>
                    {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row plain-element left-align">
                <div class="input-field col s9 col-form">
                  <select name="week" id="week" required="required">
                    <option value="" disabled selected>Select Week</option>
                    {% for week in weeks %}
                    <option value="{{week}}">{{week}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <br>
              <div class="row plain-element left-align">
                <div class="input-field col s9 plain-element">
                  <button type="submit" class="btn btn-document red">
                    <i class="fas fa-trash-alt"></i>&nbsp; Delete Data
                  </button>
                </div>
              </div>
            </form>
            <br>
            {% if message %}
            <div class="row plain-element left-align">
              <br>
              <p>{{ message }}</p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}